/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-post-list-soivigol-post-list {
	border: 1px solid lightgray;
	padding: 15px;
}

.wp-block-post-list-soivigol-post-list p {
	margin: 0 !important;
}

.active-tab {
	border-top: 6px solid var(--wp-admin-theme-color);
	background-color: lightgray;
}

.components-panel__row .components-base-control {
	width: 100%;
}
