/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.soivigol-post-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3rem;
	.item{
		display: block;
		width: 100%;
		position: relative;
		margin-bottom: 30px;
		&:hover {
			box-shadow: 0 0 6px 6px lightgray;
		}
	}
	&.col-2 {
		.item {
			width: calc( 50% - 15px );
		}
		@media screen and (max-width:768px) {
			.item {
				width: 100%;
			}
		}
	}
	&.col-3 {
		.item {
			width: calc( 33% - 15px );
		}
		@media screen and (max-width:768px) {
			.item {
				width: 100%;
			}
		}
		::after {
			content: "";
			flex: auto;
			max-width: calc(33% - 15px);
			width: 100%;
		}
	}
	&.col-4 {
		.item {
			width: calc( 25% - 10px );
		}
		@media screen and (max-width:768px) {
			.item {
				width: calc( 50% - 15px );
			}
		}
	}

	.cont-image {
		position: relative;
		padding-top: 75%;
		overflow: hidden;
		img {
			position: absolute;
			min-height: 100%;
			min-width: 100%;
			top: 0;
			object-fit: cover;
			overflow: hidden;
		}
	}

	.item-title {
		padding: 15px;
		margin-bottom: 0;
		font-size: 1.3rem;
		&:hover {
			text-decoration: none;
		}
	}

	p {
		padding: 0 15px 15px;
		margin: 0;
		font-size: 1rem;
		&:hover {
			text-decoration: none;
		}
	}
	&.item-shadow .item {
		box-shadow: 0 0 4px 4px lightgray;
	}
	&.item-shadow-hover .item {
		&:hover {
			box-shadow: 0 0 6px 8px lightgray;
		}
	}
}

.wp-block-post-list-soivigol-post-list p {
	margin: 0;
}
